/* COLOR CODING FROM OSU MAIN SITE
Note to team: there are more colors, but they didn't seem to fit. */
:root {
    --primary:#f8f9fa;
    --secondary:#d73f09;
    --warning:#ffc107;
    --emphasis:#dc3545;
    --dark:#343a40;
    --font-family:arial;
}


body {
    background-color:var(--primary);
}


/* change navbar background on collapse 
 * navbar-expand-md will collapse at 767px */
@media (max-width: 767px) {
    .nav-item {
        background: #000000;
    }
    .osu-top-hat{
        padding: 0;
    }
}

.schedule-it-top-hat{
    background-color:#d73f09;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0px; 

}
.schedule-it-top-hat .logo img{
    height:60px;
    margin:0px;
    width:188px;
    margin-right:40px;
    margin-left:10px;
}

// Reduce image margin as screen gets small to give links more space before collapse happens
@media (max-width: 955px){
    .schedule-it-top-hat .logo img{
        margin-right:5px;
    }
}

nav .schedule-it-main-menu{
    color:#fff;
    text-decoration:none;
    font-size:19px;
    font-family:arial;

}

nav .schedule-it-main-menu a{
    color:#fff;
    text-decoration:none;
    font-size:19px;
    font-family:arial;
    margin-top:20px;
    margin-bottom:0px;
}

nav .schedule-it-main-menu a:active,nav .schedule-it-main-menu a:focus,nav .schedule-it-main-menu a:hover{
    text-decoration:underline;
}

.schedule-it-main-menu .nav-link{
    margin-left:5px;
    margin-right:5px;
}

/*
.schedule-it-top-hat .site-title h1{
    color:#d73f09;
    display:inline-block;
    padding-left:2rem;
    margin-bottom:0;
    vertical-align:middle;
}
*/

.fa-1x {
    font-size: 1.5rem;
}

div.container-fluid{
    width: 100%;
    height: auto;
}

div.text_container{
    width: 100%;
    margin-left: -1.3%;
}

.btn {
    background-color:var(--secondary);
    color: white;
}


.menu-wrapper {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.menu-wrapper .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 999;
    cursor: pointer;
    opacity: 0;
}

.menu-wrapper .hamburger {
    
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index:998;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;
    background-color: var(--emphasis);
    border-radius: 0.2rem;

}

.menu {
    position:absolute;
    top: 0;
    left: 0;

    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: var(--emphasis);
    z-index: 50;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0.2rem;
}

.menu-wrapper .toggle:checked + .hamburger +.menu {
    opacity: 1;
    width: 350px;
    height: auto;
    z-index: 50;
}

.btn.btn-block {
    z-index: 0;
}

#frm{
	border: solid gray 1px;
	width: 20%;
	border-radius: 5px;
	margin:	100px auto;
	background: white;
}
#btn{
	color:	white;
	background: #337ab7;
	padding: 5px;
}

.list-group-item{
    background-color:var(--dark);
    color: white;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;
    }
  }

.ui-dialog-titlebar-close {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
  border: medium none;
}
.ui-dialog-titlebar-close:hover {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
}

#eventLink{
    list-style-type: none;
    font-size: 75%;
}

#dateStartTime:before {
    content:'Start'
}

#dateEndTime:before {
    content:'End'
}
  
/*
table {
    background-color: white;
}

th { 
    background-color: #ffd78c; 
}
*/



/*
Following are media query breakpoints referenced from the following responsive Bootstrap tutorial: https://www.youtube.com/watch?v=9cKsq14Kfsw at 5:11

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/
